@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

@keyframes heading {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes sub-heading {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes button {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
body {
  font-weight: 400;
  line-height: 1.8;
  font-family: "Montserrat", sans-serif;
}

.display-primary--heading {
  display: block;
  font-size: 5rem;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.7rem;
  backface-visibility: hidden;
  animation: heading 1s ease-in-out;
}
@media only screen and (max-width: 75em) {
  .display-primary--heading {
    font-size: 3rem;
    margin-bottom: 1rem;
    letter-spacing: 0.5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .display-primary--heading {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
}

.display-primary--sub-heading {
  display: block;
  font-size: 2rem;
  color: #ffffff;
  font-weight: 300;
  margin-top: -2rem;
  letter-spacing: 1rem;
  backface-visibility: hidden;
  animation: sub-heading 1s ease-in-out;
}
@media only screen and (max-width: 75em) {
  .display-primary--sub-heading {
    letter-spacing: 0.3rem;
    font-size: 1.5rem;
  }
}

.display-secondary {
  text-align: center;
  margin-bottom: 4rem;
}
.display-secondary--main {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 800;
  display: inline-block;
  background-image: linear-gradient(to bottom, rgba(0, 171, 228, 0.7), rgba(34, 114, 255, 0.9));
  -webkit-background-clip: text;
  color: transparent;
  transition: transform 0.2s;
}
.display-secondary--main:hover {
  transform: scale(1.2);
  text-shadow: 0 2px 2px #00ABE4, -2px 5px 1px #2272FF, -4px 8px 0px #CD9C8A, -6px 1.1rem 0px #00ABE4, -8px 1.4rem 0px #2272FF, -1rem 1.7rem 0px #CD9C8A, -1.2rem 2rem 0px #2272FF, -1.4rem 2.3rem 0px #00ABE4;
}
@media only screen and (max-width: 37.5em) {
  .display-secondary--main {
    font-size: 2rem;
  }
}
.display-secondary--stories {
  margin-top: 10rem;
}

.display-tertiary--heading {
  font-size: 3rem;
  font-weight: 800;
}
@media only screen and (max-width: 37.5em) {
  .display-tertiary--heading {
    font-size: 2rem;
  }
}

.display-tertiary--sub-heading {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: justify;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  font-size: 2rem;
  padding: 1rem 5.5rem;
  display: inline-block;
  background-color: #CD9C8A;
  color: #ffffff;
  margin-top: 2rem;
  transition: all 0.3s;
}
@media only screen and (max-width: 37.5em) {
  .btn, .btn:link, .btn:visited {
    padding: 0.5rem 4rem;
    font-size: 1rem;
    border-radius: 10rem;
  }
}
.btn:hover {
  transform: translateY(5px);
  box-shadow: 0 1.6rem 2.5rem rgba(29, 29, 17, 0.4);
  color: #CD9C8A;
  background-color: #ffffff;
}
.btn:active, .btn:focus {
  box-shadow: 0 1rem 2rem rgba(29, 29, 17, 0.4);
  transform: translateY(2px);
}
.btn--animated {
  backface-visibility: hidden;
  animation: button 1s ease-in-out;
}
.btn--second {
  padding: 1rem 3rem;
  font-size: 1.2rem;
  background-color: #2272FF;
  color: #ffffff;
  display: inline-block;
  margin-top: 2rem;
  border-radius: 4px;
  transition: all 0.2s;
}
.btn--second:hover {
  background-color: #1D1D11;
  transform: translateY(7px);
  box-shadow: 0 1.6rem 2.5rem rgba(29, 29, 17, 0.4);
}
.btn--blue {
  color: #ffffff;
  background-color: transparent;
  margin-top: 2rem;
}
.btn--inline {
  display: inline-block;
  padding: 1rem 6rem;
  font-size: 1.6rem;
  border: 2px solid #ffffff;
  position: relative;
  z-index: 2;
  transition: all 0.5s;
}
@media only screen and (max-width: 56.25em) {
  .btn--inline {
    padding: 0.5rem 4rem;
    font-size: 1rem;
  }
}
.btn--inline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  border-right: 1px solid #ffffff;
  height: 100%;
  background-color: #ffffff;
  transform: translateX(100%);
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}
.btn--inline::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  background-color: #ffffff;
  transform: translateX(-100%);
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}
.btn--inline:hover::before, .btn--inline:hover::after {
  transform: translateX(0);
  opacity: 1;
}
.btn--inline:hover {
  color: #1D1D11;
}

.image-composition {
  position: relative;
}
.image-composition__image {
  width: 55%;
  border-radius: 3px;
  position: absolute;
}
@media only screen and (max-width: 56.25em) {
  .image-composition__image {
    float: left;
    position: relative;
    width: 33.33333333%;
  }
}
.image-composition__image--image-1 {
  left: 0;
  top: -2rem;
}
@media only screen and (max-width: 56.25em) {
  .image-composition__image--image-1 {
    top: 0;
  }
}
.image-composition__image--image-2 {
  right: 1rem;
  top: 0;
}
@media only screen and (max-width: 56.25em) {
  .image-composition__image--image-2 {
    left: -1rem;
    transform: scale(1.4);
    z-index: 50;
  }
}
.image-composition__image--image-3 {
  top: 7rem;
  left: 10%;
}
@media only screen and (max-width: 56.25em) {
  .image-composition__image--image-3 {
    left: -1rem;
    top: 0;
  }
}
.image-composition__image:hover {
  z-index: 10;
  transform: scale(1.1);
}
.image-composition:hover .image-composition__image:not(:hover) {
  filter: blur(5px);
}

.feature-card {
  background-color: rgba(34, 114, 255, 0.5);
  color: #ffffff;
  padding: 3rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
  transition: all 0.2s;
  width: 100%;
  border-radius: 5px;
}
@media only screen and (max-width: 75em) {
  .feature-card {
    padding: 1.5rem;
  }
}
.feature-card__icon {
  font-size: 7rem;
  color: #CD9C8A;
  margin-bottom: 2rem;
  display: block;
}
@media only screen and (max-width: 56.25em) {
  .feature-card__icon {
    margin-bottom: 1rem;
  }
}
.feature-card__heading {
  font-size: 2rem;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 75em) {
  .feature-card__heading {
    font-size: 1.6rem;
  }
}
.feature-card__heading-sub {
  text-align: left;
  font-size: 1.4rem;
  font-weight: 300;
}
.feature-card:hover {
  transform: scale(1.05);
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
}

.tours-card {
  perspective: 155rem;
  -moz-perspective: 155rem;
  height: 40rem;
  position: relative;
}
.tours-card__side {
  height: 40rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(29, 29, 17, 0.15);
}
.tours-card__side--back {
  transform: rotateY(180deg);
  text-align: center;
  padding: 2rem;
}
.tours-card:hover .tours-card__side--front {
  transform: rotateY(-180deg);
}
.tours-card:hover .tours-card__side--back {
  transform: rotateY(0);
}
.tours-card__image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-blend-mode: screen;
}
.tours-card__image--image-1 {
  background-image: linear-gradient(to left bottom, #00ABE4, #2272FF), url(../images/museum.jpg);
}
.tours-card__image--image-2 {
  background-image: linear-gradient(to left bottom, #1D1D11, #2272FF), url(../images/snow-ski.jpg);
}
.tours-card__image--image-3 {
  background-image: linear-gradient(to left bottom, #ffffff, #2272FF), url(../images/forest-hiking.jpg);
}
.tours-card__heading {
  font-size: 2rem;
  text-transform: capitalize;
}
.tours-card__options {
  margin: 5rem;
}
.tours-card__options ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.tours-card__options li {
  font-size: 1.4rem;
}
@media only screen and (max-width: 56.25em), only screen and (hover: none) {
  .tours-card {
    height: auto;
    background-color: #1D1D11;
    color: #ffffff;
  }
  .tours-card__side {
    height: auto;
    position: relative;
  }
  .tours-card__side--back {
    transform: rotateY(0);
  }
  .tours-card:hover .tours-card__side--front {
    transform: rotateY(0);
  }
  .tours-card__image {
    background-size: cover;
    height: 23rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 64%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 64%);
  }
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.1;
  overflow: hidden;
}
.video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.story {
  width: 80%;
  margin: 0 auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 5em 10em -2em, rgba(0, 0, 0, 0.3) 0px 3em 6em -3em, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 5px;
  padding: 5rem;
  transform: skewX(-10deg);
  min-height: 20rem;
}
@media only screen and (max-width: 56.25em) {
  .story {
    width: 100%;
    padding: 5rem;
    padding-left: 4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .story {
    transform: skewX(0);
  }
}
.story__main {
  width: 10rem;
  height: 10rem;
  float: left;
  transform: translateX(-4rem) skewX(10deg);
  clip-path: circle(60% at 70% 50%);
  shape-outside: circle(50% at 50% 50%);
  position: relative;
}
@media only screen and (max-width: 75em) {
  .story__main {
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .story__main {
    transform: skewX(0) translateX(-4rem);
  }
}
.story__image {
  height: 100%;
  object-fit: cover;
  transform: translate(-2rem, -1rem) scale(1.4);
  backface-visibility: hidden;
  transition: all 0.7s;
}
.story__image--detail {
  position: absolute;
  top: -42%;
  left: 50%;
  font-size: 1rem;
  color: #ffffff;
  backface-visibility: hidden;
  text-transform: capitalize;
  opacity: 1;
  transition: all 0.7s;
}
.story:hover .story__image--detail {
  opacity: 1;
  top: 35%;
}
.story:hover .story__image {
  transform: translate(-2rem, -1rem) scale(1);
  filter: blur(4px) brightness(70%);
}

.form__box:not(:last-child) {
  margin-bottom: 2rem;
  position: relative;
}
.form__heading {
  font-size: 3.5rem;
  text-align: center;
  font-weight: 800;
  margin-bottom: 2rem;
  text-transform: capitalize;
}
.form__input {
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  width: 100%;
  border: 2px solid rgba(29, 29, 17, 0.7);
  transition: all 0.4s;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(29, 29, 17, 0.1);
  border: 2px solid rgba(0, 255, 0, 0.8);
}
.form__input:focus:invalid {
  border: 2px solid rgba(255, 0, 0, 0.9);
}
.form__input::-webkit-input-placeholder {
  color: rgba(29, 29, 17, 0.4);
}
.form__label {
  font-size: 1rem;
  position: absolute;
  top: -2rem;
  left: 0;
  font-weight: 900;
  text-transform: capitalize;
  display: block;
  transition: all 0.4s;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-4rem);
}
.form__radio-box {
  display: inline-block;
}
@media only screen and (max-width: 37.5em) {
  .form__radio-box {
    display: block;
  }
  .form__radio-box:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
.form__radio-box:not(:last-child) {
  margin-right: 2rem;
}
.form__radio-input {
  display: none;
}
.form__radio-label {
  font-size: 1.7rem;
  cursor: pointer;
  position: relative;
  padding-left: 3.6rem;
}
.form__radio-custom {
  height: 3rem;
  width: 3rem;
  border: 5px solid #CD9C8A;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.4rem;
}
.form__radio-custom::after {
  content: "✓";
  display: block;
  position: absolute;
  font-size: 4rem;
  top: 30%;
  left: 70%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s;
}
.form__radio-input:checked ~ .form__radio-label .form__radio-custom::after {
  opacity: 1;
}
.form__box:last-child {
  text-align: center;
}

.detail-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
}
.detail-popup:target {
  opacity: 1;
  visibility: visible;
}
.detail-popup__main {
  width: 90%;
  min-height: 70vh;
  box-shadow: rgb(38, 57, 77) 0px -2em 3em -1em;
  display: table;
  background-color: #1D1D11;
  color: white;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, -50%);
}
.detail-popup:target .detail-popup__main {
  transform: translate(-50%, -50%);
}
.detail-popup__image-box {
  width: 33.333333%;
  display: table-cell;
  position: relative;
}
.detail-popup__content {
  width: 66.6666667%;
  display: table-cell;
  vertical-align: middle;
  padding: 2rem 6rem;
}
.detail-popup__image {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-65%, -50%);
  object-fit: cover;
}
@media only screen and (max-width: 37.5em) {
  .detail-popup__image {
    height: 100%;
  }
}
.detail-popup__heading {
  text-align: center;
  font-size: 2.7rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.detail-popup__pharagraph {
  text-align: justify;
  font-size: 1.3rem;
  column-count: 3;
  column-gap: 2rem;
  -moz-column-count: 3;
  -moz-column-gap: 2rem;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 75em) {
  .detail-popup__pharagraph {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .detail-popup__pharagraph {
    column-count: 1;
    -moz-column-count: 1;
  }
}
.detail-popup__button {
  text-align: center;
}
.detail-popup__close {
  position: absolute;
  top: -1rem;
  right: 1rem;
  font-size: 4rem;
}

.header {
  margin: 4rem;
  height: 75vh;
  background-image: linear-gradient(to left top, rgba(0, 171, 228, 0.8), rgba(34, 114, 255, 0.8)), url(../images/header.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
  .header {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 65vh, 65vh 65vh, 65vh 100%, 50vh 65vh, 0 65vh);
    clip-path: polygon(0% 0%, 100% 0%, 100% 65vh, 65vh 65vh, 65vh 100%, 50vh 65vh, 0 65vh);
    height: 85vh;
  }
}
@media only screen and (max-width: 75em) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
.header__logo-container {
  position: absolute;
  top: -1rem;
  left: -1rem;
}
.header__logo {
  width: 10rem;
  height: 10rem;
}
.header__text-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media only screen and (max-width: 75em) {
  .header__text-container {
    top: 50%;
  }
}

.grid-row {
  max-width: 114rem;
  margin: 0 auto;
}
.grid-row:not(:last-child) {
  margin-bottom: 9rem;
}
@media only screen and (max-width: 56.25em) {
  .grid-row {
    max-width: 60rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .grid-row {
    max-width: 40rem;
  }
}
.grid-row::after {
  content: "";
  display: table;
  clear: both;
}
.grid-row [class^=grid-col-] {
  float: left;
}
.grid-row [class^=grid-col-]:not(:last-child) {
  margin-right: 5rem;
}
@media only screen and (max-width: 56.25em) {
  .grid-row [class^=grid-col-]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 5rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .grid-row [class^=grid-col-] {
    width: 100% !important;
  }
}
.grid-row .grid-col-1-of-2 {
  width: calc((100% - 5rem) / 2);
}
.grid-row .grid-col-1-of-3 {
  width: calc((100% - 2 * 5rem) / 3);
}
.grid-row .grid-col-1-of-4 {
  width: calc((100% - 3 * 5rem) / 4);
}

.footer {
  background-color: rgba(29, 29, 17, 0.4);
  padding: 5rem 4rem;
}
.footer__logo-container {
  text-align: center;
  margin-bottom: 4rem;
}
.footer__logo {
  width: 20rem;
  height: auto;
}
.footer__nav {
  border-top: 2px solid rgba(29, 29, 17, 0.4);
  padding-top: 1rem;
}
.footer__list {
  list-style: none;
  text-align: center;
}
.footer__list-item {
  display: inline-block;
}
.footer__list-item:not(:last-child) {
  margin-right: 2rem;
}
.footer__link:link, .footer__link:visited {
  font-size: 1.6rem;
  color: #ffffff;
  text-shadow: 0 2px 1px #2272FF, -1px 3px 1px #2272FF, -2px 5px 1px #2272FF;
  transition: all 0.2s;
}
.footer__link:link:hover, .footer__link:link:active, .footer__link:visited:hover, .footer__link:visited:active {
  color: #1D1D11;
  transform: scale(1.2);
}
.footer__copyright {
  padding-top: 0.4rem;
  font-size: 1.9rem;
  text-align: center;
  margin-top: -5rem;
}

.navbar__input {
  display: none;
}
.navbar__button {
  background-color: #ffffff;
  height: 8rem;
  width: 8rem;
  position: fixed;
  top: 2rem;
  right: 2rem;
  border-radius: 50%;
  z-index: 1003;
  box-shadow: 0 1.5rem 2.8rem rgba(29, 29, 17, 0.2);
  text-align: center;
  cursor: pointer;
}
.navbar__background {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: -8.5rem;
  left: 8.5rem;
  background-image: radial-gradient(#00ABE4, #2272FF);
  z-index: 1001;
  transition: all 0.5s cubic-bezier(0.55, 0.47, 1, 0.52);
}
.navbar__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1002;
  opacity: 0;
  width: 0;
  transition: transform 0.8s cubic-bezier(0.9, 0, 0.09, 1);
}
.navbar__list {
  width: 100%;
  text-align: center;
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navbar__item:not(:first-child) {
  margin-top: 1.5rem;
}
.navbar__link:link, .navbar__link:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 800;
  padding: 1rem 3rem;
  color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #ffffff 50%);
  background-size: 220%;
  transition: all 0.4s;
}
.navbar__link:hover, .navbar__link:active {
  background-position: 100%;
  color: #00ABE4;
  transform: translateX(1rem);
}
.navbar__input:checked ~ .navbar__background {
  transform: scale(80);
}
.navbar__input:checked ~ .navbar__nav {
  opacity: 1;
  width: 100%;
}
.navbar__close-icon {
  position: relative;
  margin-top: 3.8rem;
}
.navbar__close-icon, .navbar__close-icon::before, .navbar__close-icon::after {
  width: 4.2rem;
  height: 3px;
  background-color: #1D1D11;
  display: inline-block;
}
.navbar__close-icon::before, .navbar__close-icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navbar__close-icon::before {
  top: -1rem;
}
.navbar__close-icon::after {
  top: 1rem;
}
.navbar__button:hover .navbar__close-icon::before {
  top: -1rem;
}
.navbar__button:hover .navbar__close-icon::after {
  top: 1rem;
}
.navbar__input:checked + .navbar__button .navbar__close-icon {
  background-color: transparent;
}
.navbar__input:checked + .navbar__button .navbar__close-icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navbar__input:checked + .navbar__button .navbar__close-icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.about {
  margin: 10rem 2rem 0;
}

.features {
  margin-top: 10rem;
  padding: 15rem 5rem;
  background-image: linear-gradient(to right, #00ABE4, #2272FF);
  transform: skewY(-5deg);
}
.features > * {
  transform: skewY(5deg);
}

.tours {
  margin-top: 10rem;
  padding: 2rem 4rem;
}

.stories {
  padding: 4rem 0;
  position: relative;
}
.stories__container {
  padding: 2rem 4rem;
}

.contact {
  padding: 3rem 5rem;
  background-image: linear-gradient(to bottom, #ffffff, #CD9C8A);
}
.contact__container {
  background-image: linear-gradient(100deg, rgba(0, 171, 228, 0.9) 0%, rgba(34, 114, 255, 0.9) 60%, transparent 100%), url(../images/snow.jpg);
  background-size: cover;
  background-position: bottom;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -2.3em 2.5em 0px inset, rgba(0, 0, 0, 0.15) 0px -3.6em 3em 0px inset, rgba(0, 0, 0, 0.1) 0px -7.9em 4em 0px inset, rgba(0, 0, 0, 0.06) 0px 0.2em 0.1em, rgba(0, 0, 0, 0.09) 0px 0.4em 0.2em, rgba(0, 0, 0, 0.09) 0px 0.8em 0.4em, rgba(0, 0, 0, 0.09) 0px 1.6em 0.8em, rgba(0, 0, 0, 0.09) 0px 3.2em 1.6em;
}
.contact__form {
  width: 60%;
  padding: 7rem;
}
@media only screen and (max-width: 56.25em) {
  .contact__form {
    width: 100%;
  }
}

/*# sourceMappingURL=app.css.map */
