@mixin clearfix {
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

@mixin contentcenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin responsive($value) {
	@if $value == phone {
		@media only screen and (max-width: 37.5em) {
			@content;
		}
        //600px
	}
	@if $value == tablet {
		@media only screen and (max-width: 56.25em) {
			@content;
		}
        //900px
	}

	@if $value == desktop {
		@media only screen and (max-width: 75em) {
			@content;
		}
        //1200px
	}

	@if $value == big-screen {
		@media only screen and (min-width: 112.5em) {
			@content;
		}
        //1800px
	}
}
