$white-color:#ffffff;
$dark-color:#1D1D11;

$blue-color:#00ABE4;
$neon-blue-color:#2272FF;
$beige-color:#CD9C8A;
$green-color:#00FF00;
$red-color:#FF0000;

$font-size-1:1.6rem;
$font-size-2:1.9rem;


$default-margin:2rem;

$gutter-horizontal:5rem;
$gutter-vertical:9rem;

$border:2px solid rgba($dark-color, .4);

