.feature-card {
	background-color: rgba($neon-blue-color, .5);
	color: $white-color;
	padding: 3rem;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	text-align: center;
	transition: all .2s;
	width: 100%;
	border-radius: 5px;

	@include responsive(desktop) {
		padding: 1.5rem;
	}

	&__icon {
		font-size: 7rem;
		color: $beige-color;
		margin-bottom: 2rem;
		display: block;

		@include responsive(tablet) {
			margin-bottom: 1rem;
		}
	}

	&__heading {
		font-size: 2rem;
		font-weight: 700;
		display: inline-block;
		margin-bottom: 1rem;

		@include responsive(desktop) {
			font-size: 1.6rem;
		}

		@include responsive(tablet) {
		}
	}

	&__heading-sub {
		text-align: left;
		font-size: 1.4rem;
		font-weight: 300;
	}

	&:hover {
		transform: scale(1.05);
		box-shadow: 0 1rem 4rem rgba(0, 0, 0, .25);
	}
}

.tours-card {
	perspective: 155rem;
	-moz-perspective: 155rem;
	height: 40rem;
	position: relative;

	&__side {
		height: 40rem;
		transition: all .8s ease;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		border-radius: 3px;
		overflow: hidden;
		box-shadow: 0 1.5rem 4rem rgba($dark-color, .15);

		&--front {
		}

		&--back {
			transform: rotateY(180deg);
			text-align: center;
			padding: 2rem;
		}
	}

	&:hover &__side--front {
		transform: rotateY(-180deg);
	}

	&:hover &__side--back {
		transform: rotateY(0);
	}

	&__image {
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
		background-blend-mode: screen;

		&--image-1 {
			background-image: linear-gradient(to left bottom, $blue-color, $neon-blue-color),
				url(../images/museum_small.jpg);

			@media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
				only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
				only screen and (min-width: 125em) {
				background-image: linear-gradient(to left top, rgba($blue-color, 0.8), rgba($neon-blue-color, 0.8)),
					url(../images/museum.jpg);
			}
		}
		&--image-2 {
			background-image: linear-gradient(to left bottom, $dark-color, $neon-blue-color),
				url(../images/snow-ski_small.jpg);

			@media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
				only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
				only screen and (min-width: 125em) {
				background-image: linear-gradient(to left top, rgba($blue-color, 0.8), rgba($neon-blue-color, 0.8)),
					url(../images/snow-ski.jpg);
			}
		}
		&--image-3 {
			background-image: linear-gradient(to left bottom, $white-color, $neon-blue-color),
				url(../images/forest-hiking_small.jpg);

			@media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
				only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
				only screen and (min-width: 125em) {
				background-image: linear-gradient(to left top, rgba($blue-color, 0.8), rgba($neon-blue-color, 0.8)),
					url(../images/forest-hiking.jpg);
			}
		}
	}

	&__heading {
		font-size: 2rem;
		text-transform: capitalize;
	}

	&__options {
		margin: 5rem;

		ul {
			list-style: none;
			width: 80%;
			margin: 0 auto;
		}

		li {
			font-size: 1.4rem;
		}
	}

	@media only screen and (max-width: 56.25em), only screen and (hover: none) {
		height: auto;
		background-color: $dark-color;
		color: $white-color;

		&__side {
			height: auto;
			position: relative;

			&--back {
				transform: rotateY(0);
			}
		}

		&:hover &__side--front {
			transform: rotateY(0);
		}

		&__image {
			background-size: cover;
			height: 23rem;
			-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 64%);
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 64%);
		}
	}
}
