.image-composition {
	position: relative;

	&__image {
		width: 55%;
		border-radius: 3px;
		position: absolute;

		@include responsive(tablet) {
			float: left;
			position: relative;
			width: 33.33333333%;
		}

		&--image-1 {
			left: 0;
			top: -2rem;

			@include responsive(tablet) {
				top: 0;
			}
		}

		&--image-2 {
			right: 1rem;
			top: 0;

			@include responsive(tablet) {
				left: -1rem;
				transform: scale(1.4);
				z-index: 16;
			}
		}

		&--image-3 {
			top: 7rem;
			left: 10%;

			@include responsive(tablet) {
				left: -1rem;
				top: 0;
			}
		}

		&:hover {
			z-index: 10;
			transform: scale(1.1);
		}

		@include responsive(tablet) {
			&:hover {
				transform: scale(1.4) !important;
				z-index: 50 !important;
			}
		}
	}

	&:hover &__image:not(:hover) {
		filter: blur(5px);
	}
}
