*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%; //1rem = 10px
	overflow-x: hidden;

	@include responsive(desktop) {
		font-size: 56.25%; //1rem=9px
	}

	@include responsive(tablet) {
		font-size: 50%; //1rem = 8px
	}

	@include responsive(big-screen) {
		font-size: 75%; //1rem = 12px
	}
}

body {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}
